@import "../../scss/lib/theme/vars";

.home{
  width: 100%;
  position: relative;
  .side-button-tab{
    font-size: 2em;
    width: 100px;
    background: #deb887;
    position: fixed;
    top: 150px;
    left: 42px;
    z-index: 1;
    padding: 5px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    &:hover{
      cursor: pointer;
    }

  }

  .side-search{
    height: 80%;
    width: 0%;
    z-index: 1;
    top: 10%;
    left: 0px;
    background-color: #819DC0;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 400ms;
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    .side-input{
      width: 80%
    }

    .close-button{
      position: absolute;
      top: 5%;
      right: 10%;
      font-size: $gutter;
      font-weight: bold;


    }
  }
}


.home{
  h2{
    font-family: $font-primary;
    font-size: 3vw;

  }
}

.picsec{
  width: 100%;
  li{
    float: left;
    margin: $gutter 2.5%;
    width: 20%;
    height: 200px;
    position: relative;
    background: $white;

    a {
      img{
        width:100%;
        height:100%;
        &:hover + div{
          height: 30%;
          padding: 10px;
          color: $white;
        }
      }
      div{
        width: 100%;
        height: 0px;
        position: absolute;
        bottom: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, .8);
        color: #eee;
        transition: 350ms;
        font-size: 2vw;
      }
    }
  }
}

li img:hover {
  -webkit-box-shadow: 1px 1px 15px $brand-primary;
  box-shadow: 1px 1px 7px $brand-primary;
}

.search-bar{
  margin-right:30%;
}
