@import "../../scss/lib/theme/vars";

.home{
  margin-top: 105px;
  width: 100%;
  position: relative;
  .side-button-tab{
    width: 130px;
    padding-left: 15px !important;
    font-size: 2em;
    background: #222;
    color: #ccc;
    position: fixed;
    top: 150px;
    left: 42px;
    z-index: 1;
    padding: 5px;
    transform: rotate(90deg);
    transform-origin: left top 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    &:hover{
      cursor: pointer;
    }

  }

  .side-search{
    min-height: 85%;
    width: 0%;
    z-index: 1;
    top: 10%;
    left: 0px;
    background-color: #819DC0;
    overflow: scroll;
    padding-top: 40px;
    padding-bottom: 20px;
    transition: 400ms;
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    .side-input{
      width: 80%;
      margin-left: 10%;
      padding: 4% 2%;
    }

    .close-button{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: $gutter;
      font-weight: bold;
    }
  }
}


.home{
  h2{
    font-family: $font-primary;
    font-size: 2vw;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 2.5vw;
    margin-top: 50px;
  }
}

.picsec{
  width: 100%;
  li{
    float: left;
    margin: $gutter 2.5%;
    width: 20%;
    height: 200px;
    position: relative;
    background: $white;

    a {
      img{
        width:100%;
        height:100%;
        border-radius: 3px;
        &:hover + div{
          height: 30%;
          padding: 10px;
          color: $white;
        }
      }
      div{
        width: 100%;
        height: 0px;
        position: absolute;
        bottom: 0;
        text-align: center;
        background: rgba(0, 0, 0, .5);
        color: #eee;
        transition: 350ms;
        font-size: 1.5vw;
      }
    }
  }
}

li img:hover {
  -webkit-box-shadow: 1px 1px 15px $brand-primary;
  box-shadow: 1px 1px 7px $brand-primary;
}

.search-bar{
  margin-right:30%;
}
