<section class="home">
 <section class ="caras">
  <carousel></carousel>
</section>
  <h2>Decor8 Your Home</h2>

<h2>Items</h2>

    <ul class="post-list">
        <li ng-repeat="item in homeCtrl.posts" | categorySearch: homeCtrl.categorySelect>
        <li ng-repeat="item in homeCtrl.posts | postSearch: homeCtrl.postSearchTerm | uppercase"
      post="item" >
          <a href="http://localhost:8080/#!/post/{{item._id}}">
            <img src="{{item.imageURI}}" class="mainps">
            <div>{{item.name}}</div>
          </a>
        </li>
    </ul>
  <a-modal></a-modal>
