@import "../../../scss/lib/theme/vars";

.post{
  width:50%;
  height:230px;
  margin-bottom: 5px;
  margin-top: 30px;
  border-style:solid;
  border-color: $brand-secondary;
  border-width:2px 2px;
  padding: $gutter/2;


  p{

    font-family:$font-secondary;
    font-weight:lighter;
  }

  h2{
    font-family:$font-secondary;
    font-size:$gutter;

  }


}
