@import "../../../scss/lib/theme/vars";

.post-page{
  width:50%;
  height:205px;
  margin-top: 30px;
  border-style:solid;
  border-color: $brand-secondary;
  /* border-width:3px 3px; */

  h2{
    font-family:$font-secondary;
  }

  img{
    max-height: 200px;
    max-width:200px;
    float:right;
  }
}
