@import "../../../scss/lib/theme/vars";
.current-item{
  padding:$gutter;
  margin:$gutter /3;
  width:40%;
  height:250px;
  border-style: solid;
  border-color:$brand-secondary;
  border-width:3px 3px 3px;
  overflow: scroll;

  p{
    padding: 10px;
  }


    img{
      height:100%;
      width:40%;
      float:right;


  }
}
