  <li class="viewcomment">
    <div class="current-item" ng-if="!viewCommentCtrl.showEditComment">
      <div>
        <span class="item-label"></span>
        <span>{{ viewCommentCtrl.comment.message }}</span>
      </div>

      <edit-comment ng-if="viewCommentCtrl.showEditComment" comment="viewCommentCtrl.comment"></edit-comment>
    </li>

    <img ng-src"{{ viewCommentCtrl.comment.imageURI }}">


    <li class="edit-btns">
      <button class="btn-std" ng-click="viewCommentCtrl.showEditComment = !viewCommentCtrl.showEditComment"><p>Edit Comment</p></button>
      <button class="btn-std del-btn" ng-click="viewCommentCtrl.deleteComment()"><p>Delete Comment</p></button>
    </li>
