<div class="viewcomment">
  <div class="current-item" ng-if="!viewCommentCtrl.showEditComment">
    <img src="{{viewCommentCtrl.comment.imageURI}}">
    <p>{{viewCommentCtrl.comment.message}}</p>
  </div>

  <edit-comment ng-if="viewCommentCtrl.showEditComment"
    comment="viewCommentCtrl.comment"></edit-comment>

<form class="editbtns">
  <button class="btn-std" ng-click="viewCommentCtrl.showEditComment = !viewCommentCtrl.showEditComment">Edit Comment</button>
  <button class="btn-std del-btn" ng-click="viewCommentCtrl.deleteComment()">Delete Comment</button>

</form>
</div>
