@import "../../../scss/lib/theme/vars";


h2{
  font-family:'Clicker Script', cursive;
  font-size: xx-large;
  font-weight:bold;
  margin: 10px;
}
.createcomment{
  margin:20px;

}
.comment-box {
  font-weight: light;
  height: 150px;
  width: 50%;
  border-style:solid;
  border-color:$brand-secondary;
  border-width:3px 3px;
}

  textarea[type=text]{
        font-family:'Marck Script', cursive;
        font-size: x-large;
        padding: 10px;
        text-transform: capitalize;
        color: $brand-secondary;
  &:focus {
      background-color: lightblue;
    }
  }
