@import "../../../scss/lib/theme/vars";


.createcomment{
  margin:$gutter;

}
.comment-box {
  font-weight: light;
  height: 150px;
  width: 50%;
  border-style:solid;
  border-color:$brand-secondary;
  border-width:3px 3px;
}

fieldset{
  /* margin-left:20px; */
h2{
  font-size: 3vw;
  margin-left: -25px;
}
}
