<section class="createcomment">
  <form name="createCommentForm"
    class="comment-form"
    ng-submit="createCommentCtrl.createComment()">

    <fieldset>
      <h2>Comment</h2>
      <textarea type="text"
   rows="10" cols="50"
        class="comment-box"
        autocorrect="on"
        autocomplete="on"
        placeholder="Tell Me About What You Found"
        uib-tooltip="Help find this Item with an informative Comment"
             tooltip-placement="bottom"
             tooltip-trigger="'mouseenter'"
             tooltip-enable="!inputModel"
        ng-model="createCommentCtrl.comment.message"
        required>
      </textarea>

      </fieldset>
      <div>
        <p class="grab-img"
          ngf-select
          ng-model="uploadCommentCtrl.pic.file">
          Select a pic to upload
        </p>
        <button class="btn-std">Upload</button>
      </div>
      <button class="btn-std"> Add Comment</button>
  </form>
</section>
