<section class="createcomment">
  <form name="createCommentForm"
  class="comment-form"
  ng-submit="createCommentCtrl.createComment()">

  <fieldset>
    <h2>Show & Tell</h2>

    <textarea type="text"
    rows="5" cols="50"
    class="comment-box"
    autocorrect="on"
    autocomplete="on"
    placeholder="Tell Us About What You Found and Uplaod a Picture of It"
    uib-tooltip="Help find this Item with an informative Comment"
    tooltip-placement="bottom"
    tooltip-trigger="'mouseenter'"
    tooltip-enable="!inputModel"
    ng-model="createCommentCtrl.comment.message"
    required>
  </textarea>

</fieldset>

  <p class="grab-img"
  ngf-select
  ng-model="createCommentCtrl.comment.image">
  Select a pic to upload
</p>
<button class="btn-std">Upload</button>
</form>
</section>
