<section class="create-comment">
  <form name="createCommentForm"
    class="comment-form"
    ng-submit="createCommentCtrl.createComment()">

    <fieldset>
      <textarea type="text"
   rows="10" cols="50"
        name="commentType"
        class="comment-box"
        placeholder="comment here"
        uib-tooltip="Help find this Item with an informative Comment"
             tooltip-placement="right"
             tooltip-trigger="'mouseenter'"
             tooltip-enable="!inputModel"
        ng-model="createCommentCtrl.comment.commentType"
        required>
      </textarea>
      </fieldset>
      <button class="btn-std"> Add Comment</button>
  </form>
</section>
