.signup{
  width:100%;
  form{
    input{
      width: 80%;
      margin-left: 10%;
      margin-bottom: 2%;
      padding-left: 4%;
      font-size: 16px;
      text-transform: lowercase;
      font-family: arial;
    }
    button{
      margin-left: 10%;
    }
  }
  .guest{
    margin-left: 10%;
    margin-top: -20px;
  }
}
