@import "../../../scss/lib/theme/vars";

.profileStyles{





  h2 {
    color: $brand-secondary;
    font-family: $font-primary;
    font-size: 4vw;
    margin-top: 80px;
    margin-left: 80px;


  }

  p{
    font-family: $font-secondary;
    text-indent: 0;
    margin-left: 12px;
  }

  fieldset {
    margin-left: 100px;

  }

  .bio-box {
    font-weight: light;
    height: 150px;
    width: 50%;
    border-style:solid;
    border-color:$brand-secondary;
    border-width:3px 3px;
    margin: 10px;
  }

  .name-box {
    font-weight: light;
    width: 50%;
    border-style:solid;
    border-color:$brand-secondary;
    border-width:3px 3px;
    margin: 10px;
    float: left;

  }
  .btn-std{
    margin: 5px;
    margin-left: 12px;
    border-style: solid;
    border-color: #085394;
    border-width: 1px 1px;
    border-radius: 5px 5px 5px;
    padding: 6px;
    font-family: "Oswald", sans-serif;
}
}
