<section class="upload-profile">
  <form
    ng-submit="createProfileCtrl.createProfile()"
    novalidate>

    <h3>Create New Profile</h3>

    <fieldset>
      <input class="input-std"
      name="name" type="text" ng-model="createProfileCtrl.profile.name" placeholder="Name">
      <input class="input-std"
      name="bio" type="text" ng-model="createProfileCtrl.profile.bio" placeholder="About You">
    </fieldset>

    <div>
      <p class="grab-img"
        ngf-select
        ng-model="uploadProfileCtrl.pic.file">
        Select a profile pic to upload
      </p>

      <button class="btn-std">Upload</button>
    </div>
  </form>
</section>
