<div class="profileStyles">
  <section class="upload-profile">
  <form
    ng-submit="createProfileCtrl.uploadPic()"
    novalidate>

    <h2>Create Your Profile</h2>

    <fieldset>
      <input class="name-box" type="text" ng-model="createProfileCtrl.profile.name" uib-tooltip="Whats Your Name?"
      tooltip-placement="bottom"
      tooltip-trigger="'mouseenter'"
      tooltip-enable="!inputModel" placeholder="Name">


      <textarea type="text"
      rows="10" cols="50"
      class="bio-box" ng-model="createProfileCtrl.profile.bio" uib-tooltip="Dont Be Shy, Say More About Yourself:)"
      tooltip-placement="bottom"
      tooltip-trigger="'mouseenter'"
      tooltip-enable="!inputModel" placeholder="About You"></textarea>

      <div class="profile-photo">
        <p class="grab-img"
        ngf-select
        ng-model="createProfileCtrl.profile.image">
        Select a profile pic to upload
      </p>

      <button class="btn-std">Upload</button>
    </div>
    </fieldset>


  </form>
</section>
<div>
