@import "../../../scss/lib/theme/vars";

.login-form{
  div{
    .username{
      padding-left: 4%;
    }
    input{
      width: 80%;
      margin-left: 10%;
      height: 40px;
      border-style:solid;
      border-color:$brand-secondary;
      border-width:3px 3px;
      border-radius: 5px 5px 5px;
      font-family: arial;
      font-size: 15px;
      text-transform: lowercase;
    }
    .password{
      padding-left: 4%;
    }
  }
  button{
    margin-left: 10%;
  }
}
