@import "../../../scss/lib/theme/vars";

.create-category{
  clear: both;
  .category-form{
    margin-top: 10px !important;
    fieldset{
      input{
        width: 80%;
        margin-left: 10%;
      }
    }
    button{
      margin-left: 10%;
      text-transform: lowercase;
      font-size: 20px;
    }
  }
}
