@import "../../../scss/lib/theme/vars";

.profile-item {
  margin-top: 25px;
  .current-item{
    overflow: auto;
    width:44%;
    margin-left: 27%;
    height:80%;

    border-style:solid;
    border-color: $brand-secondary;
    border-width:20px 3px 3px 3px;
    border-radius: 5px 5px 5px;
    padding: $gutter/2;

    img {
      // height:400px;
      width: 75%;
      display: block;
      margin: 0px auto;
      image-orientation: from-image;
      margin-top: 10px;
      margin-bottom: 20px;
      border: 1px solid $brand-secondary;
    }
  }

  .nbtn-std {
    display: block;
    width:6.5%;
    margin: 5px;
    margin-top: 10px;
    border-style: solid;
    border-color: #085394;
    border-width: 1px 1px;
    border-radius: 5px 5px 5px;
    padding: 6px;
    margin-left: 27%;
    font-family: "Oswald", sans-serif;
    font-size: 2vw;

  }



  h3{
    color: $brand-secondary;
    font-family: $font-secondary;
    font-size: 2vw;
    margin-left: 4px;

  }
}
