@import "../../../scss/lib/theme/vars";

.profile-item {
  margin-top: 200px;
  margin-left: 0%;

  .current-item{
    overflow: auto;
    width: 35%;
    height: 100%;
    margin-left: 25%;
    margin-top: 1px;
    margin-bottom:20px;
    border-style:solid;
    border-color: $brand-secondary;
    border-width:20px 3px 3px 3px;
    border-radius: 5px 5px 5px;
    padding: $gutter/2;

    img {
      // height:400px;
      width: 65%;
      margin: 0px auto;
      margin-top: 80px;
      margin-left:18%;
      image-orientation: from-image;
      border: 1px solid $brand-secondary;
    }
  }

  .btn-std {
    margin-left: 25%;
    font-size: 1.5vw;
    padding: 42px;
    float: left;
    padding-left: 44px;

  }

  p {
    margin-left: 102px;
  }
  h2{
    color: $brand-secondary;
    font-family: $font-secondary;
    font-size: 2.5vw;
    margin: 15px;
    margin-left: 4px;
    font-size: 3vw;

  }
}
