
@import "../../../scss/lib/theme/vars";

.profile-item {

  .btn-std {
    margin: 5px;
    border-style: solid;
    border-color: #085394;
    border-width: 1px 1px;
    border-radius: 5px 5px 5px;
    padding: 6px;
    margin-left: 365px;
    font-family: "Oswald", sans-serif;

  }

  img {
    height:400px;
    width: 250px;
    display: block;
    margin: auto;
    image-orientation: from-image;
    margin-top: 80px;
    border: 1px solid $brand-secondary;
  }

}
.current-item{
  width:50%;
  height:230px;
  border-color: $brand-secondary;
  border-width: medium;
  margin-left: 363px;
  overflow: scroll;
  word-wrap: break-word;
  margin-top: 15px;



}


h3{
  color: $brand-secondary;
  font-family: $font-secondary;
  font-size: 2vw;
  margin-left: 4px;

}
}
