
<div class="profile-item">
  <img src="{{ profileItemCtrl.profile.imageURI }}">

  <div class="current-item" ng-if="!profileItemCtrl.showEditProfile">
    <div>
      <span class="item-label"></span>
      <span><h3>{{ profileItemCtrl.profile.name }}</h3></span>
    </div>

    <div>
      <span class="item-label"></span>
      <span><p>{{ profileItemCtrl.profile.bio }}</p></span>
    </div>
  </div>

  <edit-profile ng-if="profileItemCtrl.showEditProfile" profile="profileItemCtrl.profile"></edit-profile>

  <span class="btn-std" ng-click="profileItemCtrl.showEditProfile = !profileItemCtrl.showEditProfile">Update</span>
</div>
