
.modal-content{
  height: 350px;
  background-color:#fff;
  div{
   margin-top: -5%;
   height: 100%;
   div{
     margin-top: 5%;
    float: left;
    width: 50%;
      img {
       width: 100%;
       float:left;
       height:100%
      }
    }
  }
}




.landmod{
  float: right;
width: 50%;
margin-top: 5%;
height: 100%;
  .landing{
    width: 100%;
height: 100%;
div{
  width:100%;
  margin: 0;

  div{
    margin: 0;

  }
}
  }
}

// .landing{
//   margin-top: -56%;
//   position: relative;
//   width: 50%;
//   float: right;
// }
//
// .signup{
// input{
// width: 70%;
// }
