
.modal-content{
  height: 350px;
  margin-top:150px;
  background-color:#fff;
  div{
   margin-top: -5%;
   height: 100%;
   div{
     margin-top: 5%;
    float: left;
    width: 50%;
      img {
       width: 100%;
       float:left;
       height:100%
      }
    }
  }
}


.landmod{
  float: right;
  width: 50%;
  margin-top: 5%;
  height: 100%;
  
}
