@import "../../../scss/lib/theme/vars";

/* 
.category-edit{
  margin:$gutter;

}
.input-std {
  font-weight: light;
  height: 40px;
  width: 25%;
  border-style:solid;
  border-color:$brand-secondary;
  border-width:3px 3px;
}

  input[type=text]{
        font-family:$font-secondary;
        font-size: x-large;
        padding: 10px;
        text-transform: capitalize;
        color: $brand-secondary;
        margin: $gutter / 9;
  &:focus {
      background-color: $brand-primary;
    }
  } */
