<section class="category-edit">
  <form name="editCategory"
    ng-submit="editCategoryCtrl.updateCategory()"
    novalidate>

    <fieldset>
      <span class="item-label"> Category:</span>
      <input type="text"
        name="categoryType"
        class="input-std"
        ng-model="editCategoryCtrl.category.categoryType">
    </fieldset>
    <fieldset>
      <span class="item-label"> Description: </span>
      <input type="text"
        name="desc"
        class="input-std"
        ng-model="editCategoryCtrl.category.desc">
    </fieldset>
    <button class="btn-std">Update</button>
  </form>
</section>
