.edit-profilee {

  fieldset {
    margin-left: 450px;
    margin-top: 20px;
  }

  nbtn-std {
    margin: 5px;
    border-style: solid;
    border-color: #085394;
    border-width: 1px 1px;
    border-radius: 5px 5px 5px;
    padding: 6px;
    margin-left: 365px;
    font-family: "Oswald", sans-serif;
    margin-top: 10px;

  }




}
