<section class="edit-profilee">
  <form class="edit-profile"
    name="editProfile"
    ng-submit="editProfileCtrl.updateProfile()"
    no-validate>

    <fieldset>
      <span class="item-label"></span>
      <input name="name" type="text" class="input-std" ng-model="editProfileCtrl.profile.name" placeholder="Name">
    </fieldset>

    <fieldset>
      <span class="item-label"></span>
      <input name="bio" type="text" class="input-std" ng-model="editProfileCtrl.profile.bio" placeholder="About You">
    </fieldset>


  </form>
</section>
