@import "../../../scss/lib/theme/vars";

.upload-post{
  margin-top: 110px;
  margin-left: 150px;

h2{
  font-family:$font-primary;
  font-size: xx-large;
  font-weight:bold;
  margin: 10px;
}
.category-form{
  margin:$gutter;

}

.input-std {
  font-weight: light;
  height: 40px;
  width: 525px;
  border-style:solid;
  border-color:$brand-secondary;
  border-width:3px 3px;
  margin-left:4px;
}

  input[type=text]{
        font-family:$font-secondary;
        font-size: x-large;
        padding: 10px;
        width: 525px;
        text-transform: capitalize;
        color: $brand-secondary;
        margin: $gutter / 9;
  &:focus {
      background-color: $brand-primary;
    }
  }


}
