@import "../../../scss/lib/theme/vars";

.upload-post{
  margin-top: -40px;
  margin-left: 80px;

  form {
    margin-left: -40px;
  }

  h2{
    margin-left: -40px;
    text-align: left;
  }

.category-form{
  margin:$gutter;

}

.category-bottom {
  button {
    padding: 1% 3%;
    font-size: 18px;
    margin-top: 20px;
  }

  p {
    cursor: pointer;

    &:hover {
      font-style: italic;
    }
  }

  select {
    margin-left: 5px;
    width: 434px;
    margin-bottom: 20px;
  }
}

.input-std {
  font-weight: light;
  height: 40px;
  width: 525px;
  border-style:solid;
  border-color:$brand-secondary;
  border-width:3px 3px;
  margin-left:4px;
}

  input[type=text]{
        font-family:$font-secondary;
        font-size: x-large;
        padding: 10px;
        width: 525px;
        text-transform: capitalize;
        color: $brand-secondary;
        margin: $gutter / 9;
  &:focus {
      background-color: $brand-primary;
    }
  }


}
