<section class="upload-post">
  <form
    ng-submit="createPostCtrl.createPost()"
    novalidate>

    <h2>Create New Post</h2>

    <fieldset>
      <input class="input-std"
      name="name" type="text" ng-model="createPostCtrl.post.name" placeholder="Name">
    </fieldset>
    <fieldset>
      <input class="input-std"
      name="desc" type="text" ng-model="createPostCtrl.post.desc" placeholder="Description">
    </fieldset>

    <fieldset>
      <input class="input-std"
      name="price" type="number" ng-model="createPostCtrl.post.price" placeholder="Price">
    </fieldset>


    <label for="category">Categories</label>
    <select ng-model="createPostCtrl.post.categoryID" >
      <option ng-repeat="item in createPostCtrl.categories" value="{{item._id}}">{{item.categoryType}}</option>
    </select>

    <div>
      <p class="grab-img"
        ngf-select
        ng-model="createPostCtrl.post.image">
        Select a post post to upload
      </p>
    </div>
    <button class="btn-std">Upload</button>
  </form>
</section>
