@import "../../scss/lib/theme/vars";

.logo{
  margin-left:30px;
  margin-top:20px;
  float:left;

  h2{
    font-size: 89px;
    margin-top: -9px;
    color: black;
  }
}
nav{
  ul{
    float: right;
    list-decoration: none;
    margin:7px;
    margin-right:$gutter * 2;
    margin-top:$gutter + 5;
    font-family:$font-secondary;


    li{
      float: right;
      margin-right: $gutter;
      display:inline-block;
      font-size:$gutter;
      font-weight:200;
      a{
        text-decoration: none;
        color: $black;
        &:hover{
          color: $black;
        }
      }
      div{
        .btn-nav{
          margin-right: $gutter;
          font-size: $gutter / 3 * 2;
        }
      }
    }
  }
}
.navbar{
  background-color:$brand-primary;

}
