<section class="navbar">
  <nav>
    <div class="logo">
      <h2>Decor8</h2>
    </div>
    <ul>
      <li><div ng-hide="navbarCtrl.hideButtons">
        <button class="btn-nav" ng-click="navbarCtrl.logout()">logout</button>
      </div></li>
      <li><a href="https://decor8frontend.herokuapp.com/#!/profile/add">Profile</a></li>
      <li><a href="https://decor8frontend.herokuapp.com/#!/post/add">Post</a></li>
      <li><a href="https://decor8frontend.herokuapp.com/#!/home">Home</a></li>
    </ul>
  </nav>
</section>
