<section class="navbar">
  <nav>
    <div class="logo">
      <h2>Decor8</h2>
    </div>
    <ul>
      <li><div ng-hide="navbarCtrl.hideButtons">
        <button class="btn-nav" ng-click="navbarCtrl.logout()">logout</button>
      </div></li>
      <li ng-click="navbarCtrl.changeLocation('/profile/add')"><a href="">Profile</a></li>
      <li ng-click="navbarCtrl.changeLocation('/post/add')"><a href="">Post</a></li>
      <li ng-click="navbarCtrl.changeLocation('/home')"><a href="">Home</a></li>
    </ul>
  </nav>
</section>
