<section class="navbar">
  <nav>
    <div class="logo">
      <h2>Decor8</h2>
    </div>
      <ul>
        <li>Category</li>
        <li>Post</li>
        <li>About Us</li>
        <li><div ng-hide="navbarCtrl.hideButtons">
          <button class="btn-nav" ng-click="navbarCtrl.logout()">logout</button>
        </div></li>
      </ul>

  </nav>
</section>
<!-- <section>
<carousel></carousel>
</section> -->
<!--
<section class="navbar">
  <nav>
    <div class="logo">
      <h2>Decor8</h2>
    </div>
      <ul>
        <li>Category</li>
        <li>Post</li>
        <li>About Us</li>
        <li> <input type="text" ng-model="homeCtrl.postSearchTerm" placeholder="search"></li>
        <li><div ng-hide="navbarCtrl.hideButtons">
          <button class="btn-nav" ng-click="navbarCtrl.logout()">logout</button>
        </div></li>
      </ul>

  </nav>
</section> -->
